/*MOBILE*/

body {
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

header {
    display: flex;
    flex-direction: column;
}

nav {
    background-color: #CCCCFF;
    padding: 0;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-around;
}

nav>img {
    max-width: 100%;
}

ul {
    display: flex;
    flex-direction: column;
    gap: 2vh;
    padding: 0;
}

ul>li {
    list-style: none;
    font-size: 1.2rem;
    align-self: center;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .5);
}

a {
    text-decoration: none;
    color: #fff;
}

footer {
    background-color: #5336F6;
    height: 15vh;
    font-size: 0.7rem;
    display: flex;
    justify-content: center;
}

footer a {
    color: grey;
}

.direitos-autorais {
    color: grey;
    margin: 0;
}

.infos {
    display: flex;
    flex-direction: column;
}

.infos img {
    padding-right: 1vw;
}

.contato {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 35px;
    padding: 4vw;
}

.whatsapp {
    display: flex;
    font-size: 0.5rem;
}

.horario {
    display: flex;
    font-size: 0.5rem
}

.visita {
    background-color: #CCCCFF;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .5);
    display: flex;
    align-items: center;
    padding: 2vh;
    border-radius: 5px;
    font-size: 0.7rem;
}

.forms{
    background-image: url(../img/backgroud-conteudo.jpg);
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding: 2vw;
}

.forms h1{
    color: #2f11db;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .5);
    text-align: center;
    width: 80vw;
    border-bottom: 2vw solid #9987fd;
    border-radius: 2vw;
}

.forms p{
    color: black;
    font-size: 1.2rem;
    border-bottom: 1vw solid #9987fd;
    border-radius: 2vw;
    margin: 2vw;
}

.itens{
    background-image: url(../img/papel.png);
    background-position: 12%;
    border-radius: 4vw;
    border: 1vw solid black;
    padding: 9vw;
    box-shadow: -1px 3px 26px 6px rgba(0,0,0,0.57);
}

/*TABLET*/

@media screen and (min-width:481px){

    .infos {
        display: flex;
        flex-direction: row;
    }

    .infos p {
        padding-right: 1.5vw;
        margin: 0;
        margin-top: 2vh;
        font-size: 0.8rem;
    }

    .infos img {
        width: 30px;
        height: 30px;
    }

    .visita {
        font-size: 0.9rem;
    }

    nav {
        display: flex;
        justify-content: center;
    }

    nav>img {
        width: 150px;
        height: 150px;
    }

    ul {
        display: flex;
        flex-direction: row;
    }

    ul>li {
        font-size: 1.5rem;
    }
}

/*DESKTOP*/

@media screen and (min-width: 1024px) {

    ::-webkit-scrollbar{
        width: 18px;
    }

    ::-webkit-scrollbar-track{
        border-radius: 5px;
        background-color: hsl(0, 0%, 87%);
    }

    ::-webkit-scrollbar-thumb{
        border-radius: 35px;
        background-color: hsl(240, 100%, 77%);
    }

    .contato{
        height: 3vh;
        padding: 1.7vw;
        display: flex;
        justify-content: space-between;
    }

    .infos {
        align-items: center;
    }

    .infos p {
        font-size: 1.2rem;
    }

    .infos img {
        width: 50px;
        height: 50px;
    }

    .visita {
        font-size: 1.5rem;
        padding: 1.3vw;
        border-radius: 10px ;
    }

    .visita:hover{
        transform: scale(1.2);
    }

    nav{
        display: flex;
        justify-content: flex-start;
        height: 25vh;
    }

    nav>img{
        width: 170px;
        height: 170px;
        padding-right: 12vw;
    }

    ul{
        display: flex;
        align-items: center;
    }

    ul>li{
        padding: 1vw;
        font-size: 2rem;
    }

    li:hover{
        transform: scale(1.2);
    }

    .forms h1{
        text-transform: uppercase;
        text-shadow: 2px 2px 1px rgba(0, 0, 0, .5);
        padding: 2vw;
        width: 35vw;
    }

    .itens{
        display: flex;
        flex-direction: row;
        padding: 2vw;
        background-position: 14%;
    }

    .esquerda, .direita{
        display: flex;
        flex-direction: column;
        padding: 1vw;
    }
}