/*MOBILE*/

body{
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

header{
    display: flex;
    flex-direction: column;
}

nav{
    background-color: #CCCCFF;
    padding: 0;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-around;
}

nav > img {
    max-width: 100%;
}

ul{
    display: flex;
    flex-direction: column;
    gap: 2vh;
    padding: 0;
}

ul > li {
    list-style: none;
    font-size: 1.2rem;
    align-self: center;
    text-shadow: 1px 1px 1px rgba(0,0,0,.5);
}

a{
    text-decoration: none;
    color: #fff;
}

footer{
    background-color: #5336F6;
    height: 21vh;
    font-size: 0.7rem;
    display: flex;
    justify-content: center;
}

footer a{
    color: grey;
}

.direitos-autorais{
    color: grey;
    margin: 0;
}

.infos{
    display: flex;
    flex-direction: column;
}

.infos img{
    padding-right: 1vw; 
}

.contato{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 35px;
    padding: 4vw;
}

.whatsapp{
    display: flex;
    font-size: 0.5rem;
}

.horario{
    display: flex;
    font-size: 0.5rem
}

.visita{
    background-color: #CCCCFF;
    text-shadow: 1px 1px 1px rgba(0,0,0,.5);
    display: flex;
    align-items: center;
    padding: 2vh;
    border-radius: 5px;
    font-size: 0.7rem;
}

.fachada{
    background-image: url(../img/fachada.jpg);
    background-repeat: no-repeat; 
    display: flex;
    width: 100%;
    height: 55vh;
}

.interior{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 3vw;
    color: #fff;
}

.interior h1{
    font-size: 1.2rem;
    text-shadow: 1px 4px 9px #000000;
}

.interior h2{
    font-size: 1rem;
    text-shadow: 1px 4px 9px #000000;
}

.interior p{
    background-color: #CCCCFF;
    display: flex;
    justify-content: center;
    padding: 1vh;
    border-radius: 5px;
    font-size: 0.8rem;
    text-shadow: 1px 4px 10px #000000;
}

.qualidades{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.qualidades h3{
    margin: 0;
    font-size: 1.5rem;
}

.qualidades p{
    display: flex;
    align-content: center;
    width: 85vw;
    margin: 2vw;
    font-size: 1.1rem;
}

.bebe{
    background-image: url(../img/backgroundbebe-celular.jpg);
    background-repeat: no-repeat;
    width: 100%;
    height: 55vh;
    color: #fff;
}

.idades{
    font-size: 1rem;
    text-shadow: 1px 4px 9px #000000;
    padding: 3vh;
}
