/*MOBILE*/

body {
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

header {
    display: flex;
    flex-direction: column;
}

nav {
    background-color: #CCCCFF;
    padding: 0;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-around;
}

nav>img {
    max-width: 100%;
}

ul {
    display: flex;
    flex-direction: column;
    gap: 2vh;
    padding: 0;
}

ul>li {
    list-style: none;
    font-size: 1.2rem;
    align-self: center;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .5);
}

a {
    text-decoration: none;
    color: #fff;
}

footer {
    background-color: #5336F6;
    height: 15vh;
    font-size: 0.7rem;
    display: flex;
    justify-content: center;
}

footer a {
    color: grey;
}

.direitos-autorais {
    color: grey;
    margin: 0;
}

.infos {
    display: flex;
    flex-direction: column;
}

.infos img {
    padding-right: 1vw;
}

.contato {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 35px;
    padding: 4vw;
}

.whatsapp {
    display: flex;
    font-size: 0.5rem;
}

.horario {
    display: flex;
    font-size: 0.5rem
}

.visita {
    background-color: #CCCCFF;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .5);
    display: flex;
    align-items: center;
    padding: 2vh;
    border-radius: 5px;
    font-size: 0.7rem;
}

.topo{
    background-image: url(../img/background-topo-servicos.jpg);
    background-repeat: no-repeat;
    background-position: 23%;
    width: 100%;
    height: 85vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    color: #fff;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .5);
}

.topo img{
    border-radius: 80%;
}

.interior{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.interior h1{
    margin: 0;
    padding: 2vw;
    text-align: center;
    font-size: 1.8rem;
}

.interior h2{
    margin: 2vw;
    padding-bottom: 3vh;
    text-align: center;
    font-size: 1.2rem;
    color: black;
    border-radius: 1vw;
    border-bottom: 1.3vw ridge #03dd89;
}

.servicos{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
}

.esquerda{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.direita{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.conteudo{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;
}

.conteudo h1, h2{
    color: #2f11db;;
    text-align: center;
    width: 80vw;
    border-bottom: 2vw solid #9987fd;
    border-radius: 2vw;
}

.conteudo p{    
    margin: 0;
    padding: 5vw;
    color: grey;
}

.complementares, .estrutura{
    display: flex;
    justify-content: center;
}

.atividades{
    display: flex;
    flex-direction: row;
    padding-top: 3vw;
    padding-bottom: 3vh;
    width: 100%;
    background-image: url(../img/background-extracurriculares.jpg);
    background-repeat: no-repeat;
    background-position: 50%;
    border-radius: 2vw;
}

.atividades img{
    border-radius: 80%;
}

/*TABLET*/

@media screen and (min-width:481px){

    .infos {
        display: flex;
        flex-direction: row;
    }

    .infos p {
        padding-right: 1.5vw;
        margin: 0;
        margin-top: 2vh;
        font-size: 0.8rem;
    }

    .infos img {
        width: 30px;
        height: 30px;
    }

    .visita {
        font-size: 0.9rem;
    }

    nav {
        display: flex;
        justify-content: center;
    }

    nav>img {
        width: 150px;
        height: 150px;
    }

    ul {
        display: flex;
        flex-direction: row;
    }

    ul>li {
        font-size: 1.5rem;
    }

    .topo{
        height: 100vh;
    }

    .interior h1{
        font-size: 2.3rem;
    }

    .interior h2{
        font-size: 1.7rem;
    }

    .topo img{
        width: 55vw;
        height: 40vh;
    }

    .conteudo h1, h2{
        font-size: 2rem;
    }
    .conteudo p{
        font-size: 2rem;
    }

    .atividades{
        display: flex;
        justify-content: space-around;
    }

    .atividades img{
        width: 20vw;
        height: 15vh;
    }
}

/*DESKTOP*/

@media screen and (min-width: 1024px) {

    ::-webkit-scrollbar{
        width: 18px;
    }

    ::-webkit-scrollbar-track{
        border-radius: 5px;
        background-color: hsl(0, 0%, 87%);
    }

    ::-webkit-scrollbar-thumb{
        border-radius: 35px;
        background-color: hsl(240, 100%, 77%);
    }

    .contato{
        height: 3vh;
        padding: 1.7vw;
        display: flex;
        justify-content: space-between;
    }

    .infos {
        align-items: center;
    }

    .infos p {
        font-size: 1.2rem;
    }

    .infos img {
        width: 50px;
        height: 50px;
    }

    .visita {
        font-size: 1.5rem;
        padding: 1.3vw;
        border-radius: 10px ;
    }

    .visita:hover{
        transform: scale(1.2);
    }

    nav{
        display: flex;
        justify-content: flex-start;
        height: 20vh;
    }

    nav>img{
        width: 170px;
        height: 170px;
        padding-right: 12vw;
    }

    ul{
        display: flex;
        align-items: center;
    }

    ul>li{
        padding: 1vw;
        font-size: 2rem;
    }

    li:hover{
        transform: scale(1.2);
    }

    .interior h1{
        width: 80vw;
        font-size: 2.3rem;
    }

    .interior h2{
        width: 50vw;
        font-size: 1.7rem;
    }

    .topo img{
        border-radius: 90%;
        width: 400px;
        height: 400px;
    }

    .horta, .playground, .biblioteca, .esportes, .cinema, .soneca{
        width: 50%;
        height: 50%;
    }

    .servicos{
        display: flex;
        flex-direction: column;

    }

    .complementares{
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
    }

    .esquerda{
        display: flex;
        flex-direction: row;
    }

    .direita{
        display: flex;
        flex-direction: row;
    }

    .conteudo h1, h2{
        margin: 1vw;
        padding: 2vw;
        font-size: 2rem;
    }
    .conteudo p{
        width: 45vw;
        font-size: 1.5rem;
        margin: 1vw;
        padding: 1vw;
    }

    .atividades{
        display: flex;
        flex-direction: column;
        height: 75vh;
        justify-content: space-evenly;
        padding: 0;
        border-radius: 0%;

    }

    .natacao, .judo, .bale, .xadrez, .esgrima, .futebol{
        display: flex;
        justify-content: center;
    }

    .atividades img{
        border-radius: 90%;
        width: 50%;
        height: 50%;
    }
}
